extends ./layout
block content
  // Page Wrapper
  #page-wrapper
      // Header
      header#header.alt
          h1
              a(href='/#') Home
          | 						
          nav
             -if(user)
               span= 'User: '+user+'  /'
               a(href='/logout') LOGOUT
             -else
               a(href='/login') LOGIN
              a(href='#menu') Menu
      // Menu
      nav#menu
          .inner
              h2 Menu
              | 							
              ul.links
                  li
                      a(href='/intro') Introduction
                  | 								
                  li
                      a(href='/') Interests
                  | 								
                  li
                      a(href='elements.html') Studies
                  | 								 								
              | 							
              a.close(href='#') Close
      // Banner
      section#banner
          .inner
              p
              h2 Welcome to visit my Blog							
              p
               a(href='#two') Back end Programmer In Networking, Server
              p
               a(href='#one') Interester In Street work out
              p
               a(href='#three') Hobbyist in Street Dance
      // Wrapper
      section#wrapper
          // One
          section#one.wrapper.spotlight.style1
              .inner
                  a.image(href='#')
                      img(src='images/pic01.jpg' alt='dfdff')
                  | 									
                  .content
                      h2.major Exercise
                      p
                      | "A good spirit must be in a good body". This is my philosophy.
                      br
                      |Get my confidence while working out and relieve stress.
                      br
                      | I prefer agility and improvisation, so I'm doing Street work out, not weight
                      br
                      | it is probably related to dance and can do it anytime and anywhere.										
                      a.special(href='#') What is Street Work Out?
          // Two
          section#two.wrapper.alt.spotlight.style2
              .inner
                  a.image(href='#')
                      img(src='images/pic02.jpg', alt='')
                  | 									
                  .content
                      h2.major Studying 										
                      p  
                      | "Stay true to yourself now". This is the attitude I always have in my life	
                      br 
                      | I am a student now and I will be working as a programmer over time
                      br
                      | So what I can do now is to study hard, but I have a lot to do
                      br
                      | So, I usually do a lot of study and when I have time, I do other activities.				
                      a.special(href='#') What I'm Studying
          // Three
          section#three.wrapper.spotlight.style3
              .inner
                  a.image(href='#')
                      img(src='images/pic03.jpg', alt='')
                  | 									
                  .content(style='text-align: left')
                      h2.major Dancing
                      |  I like dance. among them mainly interested in street dance
                      br
                      | It's fun, but not hard, because it makes me moved while listening to the song
                      br
                      | The current main genre is bboy and I'm interested in krump, recently learning poppin
                      br
                      | I sometimes do K-pop when we can afford it, but only BTS's
                      | 										
                      a.special(href='#') what dance I'm interested in.
          // Four
          section#four.wrapper.alt.style1
              .inner
                  h2.major Where I'm affiliated
                  | 									
                  p
                  | 									
                  section.features
                      article
                          a.image(href='#')
                           img(src='images/inha.jpg', alt='')
                          h3.major(style='text-transform: none') Inha Univ, Comp.Sci 											
                          | 										
                          a.special(href='#') Learn more
                      | 										
                      article
                          a.image(href='#')
                            img(src='images/neters.jpg', alt='')
                          h3.major(style='text-transform: none') Neters											
                          a.special(href='#') Learn more
                      | 										
                      article
                          a.image(href='#')
                            img(src='images/movin.jpg', alt='')
                          h3.major(style='text-transform: none') Movin Crew																		
                          a.special(href='#') Learn more
                      | 										
                      article
                          a.image(href='#')
                            img(src='images/pic07.jpg', alt='')
                          h3.major(style='text-transform: none') Comp.Network.Lab																			
                          a.special(href='#') Learn more
                  | 									
      // Footer
      section#footer
          .inner
              h2.major Get in touch							
              | If you would like to contact me or if you have any comments
              br
              | please fill in the blank and click the button "Send Message"
              br
              | This will send the letter to the email on the right, then I will reply immediately if I confirm.							
              form(method='post', action='#')
                  .fields
                      .field
                          p
                          label(for='email') Email 										
                          input#name(type='email', name='email')
                      | 									
                      .field
                          label(for='title') Title										
                          input#email(type='text', name='title')
                      | 									
                      .field
                          label(for='message') Message 										
                          textarea#message(name='message', rows='4')
                  | 								
                  ul.actions
                      li
                          input(type='submit', value='Send Message')
              | 							
              ul.contact
                  p
                  li.fa-home
                      p
                      | Repulic of Korea
                      br
                      | Songjuk-dong, Jangan-gu, Suwon, Gyeonggi-do
                      br
                      | 453-27 Second Floor 								
                  li.fa-phone (+82)10 8474-5955								
                  li.fa-envelope
                      a(href='#') dlatns0201@naver.com								
                  li.fa-facebook
                      a(href='https://www.facebook.com/profile.php?id=100005210406303') facebook.com/TaeHyunLim					
                  li.fa-instagram
                      a(href='https://github.com/dlatns0201') GitHub.com/dlatns0201
              | 							
              ul.copyright
                  li © Untitled Inc. All rights reserved.
                  li
                      | Design: 
                      a(href='http://html5up.net') HTML5 UP
  // Scripts
  script(src='javascripts/jquery.min.js')
  script(src='javascripts/jquery.scrollex.min.js')
  script(src='javascripts/browser.min.js')
  script(src='javascripts/breakpoints.min.js')
  script(src='javascripts/util.js')
  script(src='javascripts/main.js')


