extends ./layout
block content
        // Page Wrapper
        #page-wrapper
            // Header
            header#header
                h1
                    a(href='/') Home
                | 						
                nav
                    -if(user)
                      span= 'User: '+user+'  /'
                      a(href='/logout') LOGOUT
                    -else
                      a(href='/login') LOGIN
                     a(href='#menu') Menu
            // Menu
            nav#menu
                .inner
                    h2 Menu
                    | 							
                    ul.links
                        li
                            a(href='/intro') Introduction
                        | 								
                        li
                            a(href='/') Interests
                        | 								
                        li
                            a(href='elements.html') Studies
                        | 								 								
                    | 							
                    a.close(href='#') Close
            // Wrapper
            section#wrapper
                header
                    .inner
                        h2 Hi? It's me
                        | 								
                        p Tae Hyun's fun and passionate interested life
                // Content
                .wrapper
                    .inner
                        h3.major about me
                        img(src='images/neters.jpg')    	
                        |dsgdsgsd
                        h3.major 내 사진1		
                        p 자기소개						
                        h3.major Where I'm Affiliated
                        section.features
                            article        
                                a.image(href='#')  
                                    img(src='images/neters.jpg')
                                |    	
                                h3.major Neters	 									
                        p 소속된 그룹 소개
            //- Footer
            section#footer
                .inner    
                    ul.copyright
                        li © Untitled Inc. All rights reserved.
                        li
                            | Design: 
                            a(href='http://html5up.net') HTML5 UP
        script(src='javascripts/jquery.min.js')
        script(src='javascripts/jquery.scrollex.min.js')
        script(src='javascripts/browser.min.js')
        script(src='javascripts/breakpoints.min.js')
        script(src='javascripts/util.js')
        script(src='javascripts/main.js')