doctype html
html
    head
        title THyun's Blog	
        meta(charset='utf-8') 		
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no') 	
        style
            include assets/css/main.css
            include assets/css/font-awesome.min.css
            noscript
                include assets/css/noscript.css
    body.is-preload
      block content
