doctype html
html
 head
     meta(charset='utf-8')
     meta(name='viewport' content='width=device-width, initial-scale=1, user-scalable=no')
     style
      include template/assets/css/main.css
      include template/assets/js/jquery.min.js
      include template/assets/js/jquery.scrollex.min.js
      include template/assets/js/browser.min.js
      include template/assets/js/breakpoints.min.js
      include template/assets/js/util.js
      include template/assets/js/main.js
    title Hyun'Blog
 body
    h1 hi it is my first project page with bootstrap
