extends ./layout

block content
 h1 회원가입
 form(action='/new', method='post')
  p ID
   input(type='text' name='username')
  p PWD
   input(type='password' name='password')
  p Name
   input(type='text' name='name')
  p Age
   input(type='text' name='age')
  p
   input(type='submit')
